@import "../fonts/stylesheet.css";
html,
body,
#app {
  height: 100%;
}
#app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body,
p,
input,
button {
  font-family: $font-family;
}
.content {
  flex-grow: 1;
}
.container {
  max-width: 1056px;
  width: 100%;
  margin: 0 auto;
  padding: $pading;
  box-sizing: border-box;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
h1,
h2,
h3,
.h2,
.h3,
.h1 {
  font-family: $font-family;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #635f57;
}
h1, .h1 {
  font-size: 26px;
  text-align: center;
}
h2, .h2 {
  font-size: 24px;
  margin-top: 50px;
  margin-bottom: 25px;
}
h3, .h3{
  font-size: 20px;
  text-align: center;
}
.header {
  &__top {
    height: 43px;
    background: #4cb1ca;
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }
  &__top-left {
    display: flex;
  }
  &__top-nav {
    font-family: $font-family;
    font-size: 13px;
    a {
      color: #fff;
      text-decoration: none;
      display: block;
      padding: 0 19px 0 5px;
      &:first-child {
        border-right: 1px solid #fff;
      }
    }
    display: flex;
  }
  &__main-container {
    display: flex;
    justify-content: space-between;
  }
  &__main-container {
    display: flex;
    align-items: center;
    height: 107px;
    align-items: center;
  }
  &__nav-link {
    @extend %big-font-header;
  }
  &__icon {
    display: block;
    background: $color-green;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 2px;
  }
  &__right {
    display: flex;
    align-items: center;
  }
  &__search {
    margin-right: 13px;
  }
  &__cart {
    @extend %big-font-header;
  }
}
.logo {
  font-family: $font-family;
  font-weight: bold;
  font-size: 38px;
  text-transform: uppercase;
  text-decoration: none;
  color: $color-gray;
}
.errors{
  color: $color-error;
  font-size: 11px;
  font-family: $font-family;
  margin-bottom: 8px;
}
.form {
  max-width: 300px;
  margin: 10px auto 30px;
  &__field {
    display: flex;
    flex-direction: column;
    font-family: $font-family;
    margin-bottom: 15px;
    // align-items: flex-start;
    &_error {
      font-family: $font-family;
      font-size: 11px;
      color: $color-error;
    }
  }
  &__label {
    font-size: $input-fsz;
    color: $color-gray;
    margin-bottom: 5px;
  }
  &__text {
    border: 1px solid #c6c6c6;
    height: 29px;
    width: 100%;
    padding: 0 8px;
    border-radius: 0;
    font-size: $input-fsz;
    box-sizing: border-box;
    &:focus-visible {
      outline: 0;
      border-color: $color-green;
    }
    &_error {
      border-color: $color-error;
    }
  }
  &__button {
    background: $color-green;
    border: 0;
    color: #fff;
    height: 40px;
    padding: 10px 30px;
    font-weight: 500;
    text-transform: uppercase;
  }
}
