$font-family: "Open Sans";
$color-gray: #656565;
$color-green: #7db122;
$color-blue: #4cb1ca;
$color-product-img: #eff1f0;
$footer-color-text: #fff;
$footer-color-contacts: #39a0b9;
$footer-bottom-color: #0b4b5a;
$color-error: red;
$color-white:#fff;
$pading:8px;
$input-fsz:13px;

%big-font-header {
  font-family: $font-family;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: $color-gray;
  text-transform: uppercase;
  margin: 0 12px;
}
